body {
  margin: 0;
  background-color: var(--background);
}

/* Title for Subpages */
.title {
  text-align: center;
  color: #d4d2d5;
  font-size: 55px;
  letter-spacing: 10px;
}

/* Search Bar Related */
.searchWrap {
  margin-bottom: 15px;
  width: 400px;
  position: relative;
  display: flex;
}

.searchBox {
  width: 100%;
  border: 3px solid #d4d2d5;
  border-right: 0;
  padding-left: 15px;
  outline: none;
  background-color: #1c1c29;
  color: #d4d2d5;
  font-size: 24px;
}

.searchButton {
  width: 50px;
  height: 50px;
  border: 3px solid #d4d2d5;
  background: #d4d2d5;
  text-align: center;
  color: #1c1c29;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-size: 30px;
}

.searchBox::placeholder {
  color: #5c5b65;
  font-size: 17px;
  line-height: 55px;
  font-weight: bold;
}

.tag {
  background-color: #41414c;
  padding: 3px;
  border: 1px solid #1c1c29;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  padding: 0.3em 0.6em 0.3em 0.6em;
  color: #d4d2d5;
}
.tag-on {
  background-color: black;
}