.background {
    width: 350px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.bodyRate {
  font-family: Arial, sans-serif;
  /* auto set? */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layoutVer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.courseName {
  display: inline;
}

.title {
  padding-top: 100px;
  text-align: center;
  color: white;
  font-size: 40px
}

.titleRate {
  text-align: center;
  color: #d4d2d5;
  font-size: 55px;
  letter-spacing: 10px;
}

.word {
  color: #bbb9bd;
  font-weight: bold;
}

/* /rate/ related functions */
.leftBar {
  background-color: #1c1c29;
  border: #ffffff11;
  border-radius: 20px;
  color: white;
  padding: 10px 10px;
  width: 250px;
  height: 400px;
  margin: 20px
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  padding: 10px 10px;
  width: 250px;
  height: 700px;
  margin-left: 400px;
  margin-top: -300px;
}

.mainButton {
  background-color: #41414c;
  color: var(--text);
  padding: 10px 10px;
  width: 800px;
  height: 300px;
  border-radius: 15px;
  border-color: #41414c;
  /* display: flex;
    flex-direction: column; */
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.selectBox {
  /* styling */
  background-color: #41414c;
  border: #1c1c29;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  color: #d4d2d5;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
}

.tag {
  background-color: #41414c;
  padding: 3px;
  border: 1px solid #1c1c29;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  padding: 0.3em 0.6em 0.3em 0.6em;
  color: #d4d2d5;
}

.paragraph {
  font-size: 16px;
  /* text-indent: 2em; */
  text-align: left;
}

/*
.searchContainer {
  display: block;
  left: 50%;
  position: absolute;
  top: 30%;

  .searchContainer::input {
    border: solid 3px #fff;
    box-sizing: border-box;
    font-size: 2em;
    height: 2em;
    margin-left: -15vw;
    outline: solid #fc0 0;
    padding: .5em;
    transition: all 2s ease-in;
    width: 30vw;
    z-index: 1;
    /* &:focus {
      border:solid 3px #09f;      
      outline:solid #fc0 2000px;
    } /
  }
}
*/

/*
.searchContainer::input {
  border: solid 3px #fff;
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  margin-left: -15vw;
  outline: solid #fc0 0;
  padding: .5em;
  transition: all 2s ease-in;
  width: 30vw;
  z-index: 1;
  /* &:focus {
      border:solid 3px #09f;      
      outline:solid #fc0 2000px;
    } /
}
*/

/* /rate/courses related styling */
.courseName {
  display: inline;
}

.courseButton {
  background-color: #41414c;
  color: var(--text);
  padding: 10px 10px;
  width: 800px;
  height: auto;
  border-radius: 15px;
  border-color: #41414c;
  /* display: flex;
    flex-direction: column; */
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.courseLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  padding: 450px 300px;
  width: 250px;
  height: 100px;
  align-items: center;
  /* horizontal centering */
  /* margin-right: 370px; */
  margin-left: 370px;
  box-align: center;
  margin-top: 0px;
}

.backButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bcc4d0;
  color: black;
  text-decoration: none;
  border: 1px solid #bcc4d0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Search Bar Related */
.search {
  padding-bottom: 10px;
  width: 30%;
  min-width: 350px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #d4d2d5;
  /* border-right: none; */
  padding: 5px;
  height: 35px;
  border-radius: 0px 0 0 0px;
  outline: none;
  background-color: #1c1c29;
  color: #d4d2d5;
  font-size: 24px;
}

.searchTerm:focus {
}

.searchButton {
  width: 50px;
  height: 50px;
  border: 3px solid #d4d2d5;
  background: #d4d2d5;
  text-align: center;
  color: #1c1c29;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-size: 30px;
}

.searchTerm::placeholder {
  color: #5c5b65;
  font-size: 17px;
  line-height: 55px;
  font-weight: bold;
}


.wrap {
  /*Resize the wrap to see the search bar change!*/
/*  width: 30%;*/
}

/* image related */
.imageContainer {
  position: relative;
  overflow: hidden;
}

.maskedImage {
  width: 100px;
  height: auto;
  /* display: block; */
  /* transition: opacity 0.5s ease; */
}