.background {
    width: 25%;
    min-width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.bodyRate {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 900px;
  min-height: 500px;
}

.bodyFilter {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  background-color: var(--background);
  height: max-content;
  width: fit-content;
}

.layoutVer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.courseName {
  display: inline;
}

.titleFilter {
  padding-top: 40px;
  text-align: center;
  color: white;
  font-size: 35px;
  height: 100px;
  vertical-align: center;
}

.word {
  color: #bbb9bd;
  font-weight: bold;
}

/* /rate/ related functions */
.leftBar {
  /* background-color: #1c1c29; */
  background-color: transparent;
  border: #ffffff11;
  border-radius: 20px;
  color: white;
  padding: 10px 10px;
  width: 250px;
  height: 400px;
  margin: 20px
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: center; */
  /* background-color: lightseagreen; */
  align-items: center;
  /* padding-top: 0px; */
  /* padding-bottom: 50px; */
  padding: 50px;
  gap: 20px;
  min-width: 500px;
}

.mainButton {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px;
  background-color: #40465a;
  color: var(--text);
  padding: 0px 20px;
  width: 100%;
  min-width: 300px;
  height: max-content;
  border-radius: 15px;
  border-color: transparent;
  opacity: 0.85;
  cursor: pointer;
}

.selectBox {
  /* styling */
  background-color: #41414c;
  border: #1c1c29;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  color: #d4d2d5;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
}

.paragraph {
  font-size: 16px;
  /* text-indent: 2em; */
  text-align: left;
}

/* /rate/courses related styling */
.courseName {
  display: inline;
}

.courseButton {
  background-color: #41414c;
  color: var(--text);
  padding: 10px 10px;
  width: 800px;
  height: auto;
  border-radius: 15px;
  border-color: #41414c;
  /* display: flex;
    flex-direction: column; */
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.courseLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  padding: 450px 300px;
  width: 250px;
  height: 100px;
  align-items: center;
  /* horizontal centering */
  /* margin-right: 370px; */
  margin-left: 370px;
  box-align: center;
  margin-top: 0px;
}

.backButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bcc4d0;
  color: black;
  text-decoration: none;
  border: 1px solid #bcc4d0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrap {
  /*Resize the wrap to see the search bar change!*/
/*  width: 30%;*/
}

/* image related */
.imageContainer {
  position: relative;
  overflow: hidden;
}

.maskedImage {
  width: 100px;
  height: auto;
  /* display: block; */
  /* transition: opacity 0.5s ease; */
}

/* /rate/articles/[articleId] */
.articlePage {
  /* font-family: Arial, sans-serif; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.articleTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  background-color: #1c1c29;

  margin-top: 50px;
}

.bodyArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 60%;
  padding: 10px;
}