.homepageLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: absolute;
    bottom: 0;
    top: 80px;
    width: 100vw;
    background-color: aquamarine; /* for debugging */
    background-image: url("/building.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button {
    background-color: #40465a;
    color: var(--text);
    padding: 0px 20px;
    width: 290px;
    height: 396px;
    border-radius: 15px;
    border-color: transparent;
    opacity: 0.85;
    cursor: pointer;
}

.buttonLayout {
    width: 250px;
    height: 350px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.paragraph {
    font-size: 16px;
    /* text-indent: 2em; */
    padding: 1em;
    text-align: left;
}