.homepageLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    height: calc(100vh - 80px);
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px;
    background-color: #40465a;
    color: var(--text);
    padding: 0px 20px;
    width: 290px;
    height: 396px;
    border-radius: 15px;
    border-color: transparent;
    opacity: 0.85;
    cursor: pointer;
}

.buttonLayout {
    width: 250px;
    height: 350px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.buttonLayout > h1 {
    margin-bottom: 10px;
}

.paragraph {
    font-size: 16px;
    /* text-indent: 2em; */
    padding: 1em;
    text-align: left;
}